html,
body{
  height: 100%;
}

body{
  color: $default;
  font-size: 16px;
  line-height: 30px;
  @extend %rubik-400;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

.container-large{
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  color: $text;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
}