@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
  }
  &__list-link{
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background-color: $bg;
    border-radius: 22px;
  }
  &__search{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cart,
  &__heart{
    position: relative;
  }
  &__heart{
    margin-right: 50px;
  }
  &__cart::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: -8px;
    right: 41px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    line-height: 16px;
    color: $default;
    text-align: center;

  }
  &__btn{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 20px;
      height: 20px;
    }
  }
}

.footer-top{
  padding: 180px 0 38px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    width: 170px;
    margin-right: 130px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__link{
    display: block;
  }
  &__logo{
    display: block;
    margin-bottom: 25px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    font-size: 14px;
  }
  &__text{
    margin-bottom: 35px;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    max-width: 170px;
    width: 100%;
    height: 38px;
    padding: 14px 16px;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      color: #234969;
      font-size: 12px;
      @extend %dmsans-400;
    }
  }
  &__form-btn{
    border: none;
    background-color: $accent;
    color: #fff;
    width: 100px;
    height: 38px;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 35px 0 38px;
  &__link--active{
    position: relative;
  }
  &__link + .footer-bottom__link{
    padding-left: 30px;
  }
  &__link--active::before{
      content: "";
      position: absolute;
      width: 1px;
      height: 18px;
      background-color: #7b7b7b;
      left: 13px;
      top: -1px;
  }
  &__copy{
    color: $text;
    font-size: 14px;
    line-height: 32px;
  }
}

.top-slider{
  background-color: $bg;
  padding-top: 100px;
  width: 1770px;
  height: 820px;
  margin: 0 auto;
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__content{
    padding: 120px 0 0 300px;
  }
  &__title{
    @extend %rubik-500;
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    max-width: 500px;
    margin-bottom: 30px;
  }
  &__text{
    max-width: 370px;
    margin-bottom: 55px;
    font-size: 18px;
    color: #436372;
  }
  &__btn{
    @extend %btn;
    padding: 23px 100px 20px 25px;
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;  
    &::after{
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow.svg');
      right: 19px;
      bottom: 25px;
    }
  }
  &__img{
    padding-right: 180px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 40px;
    li{
      margin-right: 11px;
      button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        opacity: 0.302;
        @extend %rubik-500;
        font-size: 11px;
        color: $default;
      }
      &.slick-active{
        background-color: #fff;
        border-radius: 50%;
        button{
          opacity: 1;
        }
      }
    }
  }
}
  .guarantees{
    height: 170px;
    width: 1770px;
    margin: 0 auto;
    background-color: #fef7f0;
    &__items{
      display: flex; 
    }
    &__item{
      height: 170px;
      width: 33.333%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      border-right: 1px solid #e8e4df;
    }
    &__item-none{
      border-right: none;
    }
    &__item-img{
      padding-top: 43px;
    }
    &__item-box{
      padding-top: 30px;
      padding-left: 23px;
    }
    &__item-title{
      @extend %dmsans-700;
      font-size: 18px;
      line-height: 40px;
    }
    &__item-text{
      @extend %dmsans-400;
      color: #585858;
    }
  }


@import 'media';