@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item{
    &:first-child{
      padding-left: 150px;
    }
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
  }
  &__list-link{
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background-color: $bg;
    border-radius: 22px;
  }
  &__search{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cart,
  &__heart{
    position: relative;
  }
  &__heart{
    margin-right: 50px;
  }
  &__cart::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: -8px;
    right: 41px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    line-height: 16px;
    color: $default;
    text-align: center;

  }
  &__btn{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
      width: 20px;
      height: 20px;
    }
  }
}

.footer-top{
  padding: 75px 0px 38px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    width: 170px;
    margin-right: 130px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__link{
    display: block;
  }
  &__logo{
    display: block;
    margin-bottom: 25px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    font-size: 14px;
  }
  &__text{
    margin-bottom: 35px;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    max-width: 170px;
    width: 100%;
    height: 38px;
    padding: 14px 16px;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      color: #234969;
      font-size: 12px;
      @extend %dmsans-400;
    }
  }
  &__form-btn{
    border: none;
    background-color: $accent;
    color: #fff;
    width: 100px;
    height: 38px;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 35px 0 38px;
  &__link--active{
    position: relative;
  }
  &__link + .footer-bottom__link{
    padding-left: 30px;
  }
  &__link--active::before{
      content: "";
      position: absolute;
      width: 1px;
      height: 18px;
      background-color: #7b7b7b;
      left: 13px;
      top: -1px;
  }
  &__copy{
    color: $text;
    font-size: 14px;
    line-height: 32px;
  }
}

.top-slider{
  background-color: $bg;
  padding-top: 100px;
  width: 1770px;
  margin: 0 auto;
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__content{
    padding: 120px 0 0 300px;
  }
  &__title{
    @extend %rubik-500;
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    max-width: 500px;
    margin-bottom: 30px;
  }
  &__text{
    max-width: 370px;
    margin-bottom: 55px;
    font-size: 18px;
    color: #436372;
  }
  &__btn{
    @extend %btn;
    padding: 23px 100px 20px 25px;
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;  
    &::after{
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow.svg');
      right: 19px;
      bottom: 25px;
    }
  }
  &__img{
    padding-right: 180px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 40px;
    li{
      margin-right: 11px;
      button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        opacity: 0.302;
        @extend %rubik-500;
        font-size: 11px;
        color: $default;
      }
      &.slick-active{
        background-color: #fff;
        border-radius: 50%;
        button{
          opacity: 1;
        }
      }
    }
  }
}
.guarantees{
  height: 170px;
  width: 1770px;
  margin: 0 auto;
  background-color: #fef7f0;
  &__items{
    display: flex; 
  }
  &__item{
    height: 170px;
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #e8e4df;
  }
  &__item-none{
    border-right: none;
  }
  &__item-img{
    padding-top: 43px;
  }
  &__item-box{
    padding-top: 30px;
    padding-left: 23px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
  }
  &__item-text{
    @extend %dmsans-400;
    color: #585858;
  }
}

.products{
  margin-bottom: 185px;
  &__title{
    text-align: center;
    padding: 75px 0 30px;
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
  }
  &__filter-btn{
    text-align: center;
  }
  &__btn{
    border: none;
    background-color: #fff;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    padding: 0;
    margin-bottom: 90px;
    & + .products__btn{
      padding-left: 30px;
    }
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}

.products-item{
  width: 270px;
  height: 365px;
  position: relative; 
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &__img-box{
    overflow: hidden;
    &:hover{
      .products-item__link-box{
        transform: translateY(-140%);
      }
    }
  }
  &__centr{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__images{
    object-fit: cover;
  }
  &__link-box{
    transition: all .3s;
    padding-left: 55px;
    transform: translateY(500%);
  }
  &__link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    & svg{
      fill: $default;
    }
    & + .products-item__link{
      margin-left: 10px;
    }
  }
  &__link:hover{
    background-color: $accent;
    & svg{
      fill: #fff;
    }
  }
  &__wrapper-box{
    position: absolute;
    bottom: 0px;
    padding: 0 0 35px 80px;
    display: inline-block;
    text-align: center;
  }
  &__title{
    font-size: 16px;
    line-height: 40px;
    color: $default;
    @extend %dmsans-500;
  }
  &__price{
    font-size: 16px;
    line-height: 40px;
    color: $accent;
    @extend %dmsans-700;
  }
}

.categories{
  margin-bottom: 100px;
}

.categories-info{
  display: flex;
  justify-content: space-between;
  &__item{
    width: 870px;
    height: 390px;
    background-color: #feefe2;
    padding-left: 410px;
  }
  &__item-one{
    position: relative;
  }
  &__item-two{
    position: relative;
  }
  &__item-images--one{
    position: absolute;
    right: 55%;
    bottom: 100px;
  }
  &__item-images--two{
    position: absolute;
    right: 60%;
    bottom: 83px;
  }
  &__item-title{
    padding-top: 90px;
    padding-bottom: 10px;
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $default;
  }
  &__item-text{
    color: $default;
    padding-bottom: 20px;
    line-height: 32px;
  }
  &__item-btn{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    @extend %btn;
    background-color: #feefe2;
    padding: 20px 85px 20px 15px;
    color: #436372;
    border: 1px solid #b3b7b5;
    width: 180px;
    height: 60px;
    position: relative;
    border-radius: 5px;
  }
  &__item-btn::after{
    content: "";
    position: absolute;
    width: 22px;
    height: 9px;
    background-image: url('../images/icons/arrow-color.svg');
    right: 21px;
    bottom: 25px;
  }
}

.design{
  &__title{
    text-align: center;
    padding-bottom: 30px;
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
  }
  &__filter-btn{
    text-align: center;
  }
  &__btn{
    border: none;
    background-color: #fff;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    padding: 0;
    margin-bottom: 90px;
    & + .design__btn{
      padding-left: 30px;
    }
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__items{
    display: grid;
    height: 525px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
    column-gap: 30px;
  }
  &__item{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__item-title{
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
    width: 210px;
    padding: 30px 0 5px 25px;
  }
  &__item-text{
    @extend %dmsans-700;
    color: $accent;
    font-size: 16px;
    padding-left: 25px;
  }
}

.video{
  &__inner{
    margin: 115px 0;
    height: 500px;
    width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play{
    height: 100px;
    width: 100px; 
    background-color: $accent;
    border-radius: 50%;
    position: relative;
  }
  &__play-btn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.blog{
  position: relative;
  &__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
  }
  &__box-title{
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
  }
  &__box-link{
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    padding-top: 7px;
  }
  &__items{
    display: inline-block;
    position: relative;
    margin-bottom: 85px;
    background-color: #fff;
    z-index: 1;
  }
  &__items + .blog__items{
    margin-left: 26px;
  }
  &__item-box{
    padding: 30px 0px 15px 0px;
    margin-left: 30px;
    max-width: 315px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
  }
  &__item-title{
    font-size: 18px;
    @extend %dmsans-500;
    color: #262626; 
  }
  &__item-news{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: $accent;
    border-radius: 15px;
    top: -16px;
    left: -5px;
    padding-left: 29px;
    color: #fff;
    @extend %poppins-700;
    font-size: 14px;
  }
  &__item-info{
    display: flex;
    padding: 15px 0 20px 30px; 
    font-size: 13px;
    line-height: 30px;
    color: #222933;
    @extend %rubik-400
  }
  &__item-date{
    margin-right: 30px;
    position: relative;
  }  
  &__item-author{
    font-size: 13px;
    line-height: 30px;
    color: #222933;
    @extend %rubik-400;
    position: relative;
  } 
  &::before{
    z-index: 0;
    content: "";
    position: absolute;
    width: 1920px;
    height: 435px;
    background-color: #fef7f0;
    top: 332px;
  }
}

.partners{
  position: relative;
  margin-bottom: 85px;
  &__images{
    display: flex;
    justify-content: space-around;
    img{
      object-fit: contain;
    }
  }
}

.modal{
  max-width: 480px;
  margin: 0 auto 120px;
  padding-top: 115px;
  &__label{
    display: block;
    margin-bottom: 25px;
    color: #436372;
    @extend %rubik-400;
    font-size: 14px;
  }
  &__input{
    display: block;
    width: 100%;
    margin-top: 10px;
    border: 2px solid #f6f6f6;
    height: 56px;
    padding: 0 15px;
  }
  &__btn{
    @extend %btn;
    width: 100%;
    height: 60px;
    @extend %rubik-500;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  &__label-checkbox{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid #f6f6f6;
    
  }
  &__label-text{
    color: #436372;
    @extend %rubik-400;
    font-size: 14px;
  }
  &__text{
    color: #436372;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin: 30px 0 25px;
  }
  &__link{
    padding: 20px 0;
    display: block;
    width: 100%;
    border: 2px solid $accent;
    text-align: center;
    @extend %rubik-500;
    color: #243f4d;
    font-size: 18px;
    margin-bottom: 120px;
    line-height: 1;
  }
}

.catalog{
  padding: 115px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 280px;
    margin-right: 30px;
  }
}

.filter__title{
  @extend %dmsans-700;
  color: #243f4d;
  font-size: 18px;
  margin-bottom: 25px;
  position: relative;
  span{
    margin-right: 15px;
  }
  &::after{
    content: "";
    background-image: url('../images/catalog/title-icon.svg');
    position: absolute;
    width: 38px;
    height: 2px;
    bottom: 15px;
  }
}

.filter-category{
  margin-bottom: 55px;
  &__label{
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    background-color: #fff;
    color: #243f4d;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    @extend %rubik-400;
    line-height: 40px;
  }
}

.filter-price{
  margin-bottom: 80px;
  &__box{
    display: flex;
    justify-content: space-between;
  }
}

.irs--flat .irs-line {
  top: 7px;
  height: 2px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 0;
  width: 15px;
  height: 15px;
  background-color: $accent;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-bar {
  top: 7px;
  height: 3px;
  background-color: $accent;
}

.irs-min, .irs-max{
  display: none;
}

.irs-from, .irs-to, .irs-single{
  display: none;
}

.filter-brand{
  margin-bottom: 55px;
  &__label{
    cursor: pointer;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
      span{
        color: #243f4d;
      }
    }
  }
  &__checkbox{
    background-color: #fff;
    color: #243f4d;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    @extend %rubik-400;
    line-height: 40px;
  }
  &__num{
    color: #b3b3b3;
  }
}

.filter-products{
  &__item{
    display: flex;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__img{
    margin-right: 20px;
  }
  &__title{
    font-size: 14px;
    color: #333333;
    @extend %rubik-400;
    line-height: 1;
    padding-top: 5px;
    display: block;
  }
  &__price{
    font-size: 15px;
    color: #333333;
    @extend %rubik-400;
  }
  .star{
    display: block;
    padding: 10px 0 5px;
    width: 90px !important;
    svg + svg{
      padding-left: 8px;
    }
  }
}

.catalog-content{
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 105px;
  }
  &__items-line{
    display: inline-block;
    margin-bottom: 30px;
  }
  &__item{
    height: 500px;
    display: flex;
    margin-bottom: 40px;
  }
  &__item-imglink{
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
  }
  &__item-box{
    max-width: 420px;
    padding-top: 90px;
    padding-left: 55px;
  }
  &__item-titlelink{
    font-size: 40px;
    color: #333333;
    display: block;
    margin-bottom: 20px;
  }
  &__item-price{
    font-size: 30px;
    color: #333333;
    line-height: 45px;
    display: block;
    padding: 25px 0;
  }
  &__item-text{
    color: #243f4d;
    width: 415px;
    margin-bottom: 30px;
  }
  .star-line{
    display: block;
    padding: 0;
    width: 140px !important;
    svg + svg{
      padding-left: 13px;
    }
  }

  &__item-buttons{
    cursor: pointer;
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    padding: 0;
    margin-right: 8px;
    background-color: #fff;
    overflow: hidden;
    svg{
      fill: $accent;
      position: absolute;
      top: 16px;
      left: 16px;
    }
  }
  &__item-buttons:hover{
    background-color: $accent;
    svg{
      fill: rgb(100%, 100%, 100%);
    }
  }
  &__item-button{
    cursor: pointer;
    height: 50px;
    width: 208px;
    background-color: $accent;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 0;
    border-radius: 5px;
    position: absolute;
    right: 595px;
    display: none;
  }
  .pagination-line{
    justify-content: start;
  }
}

.product{
  padding: 120px 0 0;
}

.product-item{
  &__inner{
    display: flex;
  }
  &__slide{
    margin-right: 70px;
  }
  &__content{
    width: 540px;
  }
  &__box{
    max-width: 540px;
    padding-top: 30px;
  }
  &__title{
    font-size: 40px;
    color: #333333;
    display: block;
    margin-bottom: 25px;
  }
  &__price{
    font-size: 30px;
    color: #333333;
    line-height: 45px;
    display: block;
    padding: 30px 0;
  }
  &__text{
    color: #243f4d;
    width: 540px;
    margin-bottom: 30px;
  }
  .star-line{
    display: block;
    padding: 0;
    width: 140px !important;
    svg + svg{
      padding-left: 13px;
    }
  }
  &__btn{
    cursor: pointer;
    height: 50px;
    width: 208px;
    background-color: $accent;
    border: none;
    color: #fff;
    font-size: 15px;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 15px;
  }
  &__info{
    display: block;
    color: $default;
  }
}

.jq-number__field {
  width: 148px;
  border: 1px solid $accent;
  transform: translateY(1px);
}

.jq-number__field input {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  @extend %rubik-400;
  color: #333333;
  text-align: center;
}

.jq-number{
  position: relative;
  padding: 0;
}

.jq-number__field::before{
  content: "";
  border-left: 1px solid $accent;
  left: 48px;
  height: 48px;
  width: 1px;
  position: absolute;
}

.jq-number__field::after{
  content: "";
  border-right: 1px solid $accent;
  right: 48px;
  height: 48px;
  width: 1px;
  position: absolute;
}

.jq-number__spin {
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.jq-number__spin.minus{
  left: 21px;
  top: 26px;
}

.jq-number__spin.plus{
  right: 20px;
  top: 26px;
}

.jq-number__spin::after{
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: #333333;
}

.jq-number__spin.plus::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 1px;
  height: 10px;
  background-color: #333333;
}


.product-slide{
  height: 530px;
  display: flex;
  &__thumb{
    width: 135px;
    margin-right: 25px;
  }
  &__thumb-item{
    border: 2px solid #f2f2f2;
    margin-bottom: 25px;
    height: 156px;
    width: 135px;
    cursor: pointer;
    img{
      height: 150px;
      width: 130px;
      object-fit: contain;
    }
  }
  &__big{
    width: 380px;
  }
  &__big-item{
    height: 543px;
    border: 2px solid #f2f2f2;
    justify-content: center;
    display: flex !important;
    width: 380px;
    padding-top: 60px;
    img{
      height: 405px;
      width: 228px;
      object-fit: cover;
    }
  }
}

.slick-list{
  height: auto !important;
}

.product-tabs{
  padding-top: 105px;
  &__top{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }
  &__top-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf1f4;
    font-size: 18px;
    color: $default;
    @extend %rubik-500;
    width: 240px;
    height: 53px;
    border-radius: 5px;
    & + .product-tabs__top-item{
      margin-left: 13px;
    }
  }
  &__top-item--active{
    background-color: $accent;
    color: #fff;
  }
  &__content-item{
    margin-bottom: 120px;
    display: none;
    &.product-tabs__content-item--active{
      display: block;
    }
  }
}

.related{
  margin-bottom: 115px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $default;
  }
  &__buttons{
    & + .related__buttons{
      margin-left: 20px;
    }
    border: none;
    width: 50px;
    height: 50px;
    border: 2px solid $accent;
    border-radius: 4px;
    background-color: #fff;
  }
  &__buttons--one{
    border-color: #edf1f4;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
}

.terms{
  margin: 115px 0 115px;
  &__list{
    margin: 25px 0 70px;
  }
  ol{
    list-style-type: decimal-leading-zero;
    margin-left: 35px;
  }
  &__list-text{
    margin-bottom: 25px;
    width: 1165px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__text{
    margin: 25px 0 65px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 24px;
    line-height: 1;
    color: $default;
  }
}

.blog-page{
  margin: 55px 0 120px;
  &__inner{
    display: flex;
  }
  &__content{
    width: 830px;
    margin-right: 70px;
  }
  &__filters{
    max-width: 275px;
  }
}

.blog-item{
  &__box{
    position: relative;
    margin-bottom: 35px;
  }
  &__img{
    margin-top: 65px;
  }
  &__info{
    width: 275px;
    height: 70px;
    background-color: $accent;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  &__date{
    margin: 0 25px 0 40px;
    font-size: 12px;
    position: relative;
  }
  &__date::before{
    content: "";
    background-image: url('../images/icons/calendar.svg');
    width: 12px;
    height: 13px;
    top: 8px;
    left: -20px;
    position: absolute;
  }
  &__author{
    color: #fff;
    font-size: 12px;
    padding-left: 18px;
    position: relative;
    z-index: 1;
  }
  &__author::before{
    content: "";
    background-image: url('../images/icons/user.svg');
    width: 12px;
    height: 13px;
    top: 8px;
    left: 0;
    position: absolute;
  }
  &__title{
    line-height: 1;
    margin-bottom: 35px;
    color: #333333;
    font-size: 36px;
    display: block;
  }
  &__text{
    margin-bottom: 45px;
  }
  &__link{
    font-size: 15px;
    color: $accent;
    @extend %dmsans-500;
    padding: 19px 84px 19px 20px;
    border: 1px solid $accent;
    margin-bottom: 50px;
    position: relative;
  }
  &__link::after{
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow-right.svg');
    width: 22px;
    height: 9px;
    top: 25px;
    right: 16px;
  }
}

.filter-search{
  margin-bottom: 55px;
  &__form{
    display: flex;
    position: relative;
  }
  &__input{
    height: 43px;
    width: 222px;
    border: 1px solid #edf1f4;
    border-radius: 4px;
    padding: 0 5px 0 10px;
    outline: none;
  }
  &__btn{
    width: 48px;
    height: 43px;
    border: none;
    background-color: #edf1f4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    right: 3%;
    cursor: pointer;
  }
}

.filter-category{
  margin-bottom: 45px;
}

.filter-posts{
  &__content{
    display: flex;
    margin-bottom: 20px;
  }
  &__img{
    margin-right: 20px;
    img{
      max-width: none;
    }
  }
  &__title{
    width: 163px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    display: block;
    margin-bottom: 12px;
  }
  &__date{
    font-size: 12px;
    color: #9a9a9a;
    line-height: 1;
    padding-left: 19px;
    position: relative;
  }
  &__date::before{
    content: "";
    position: absolute;
    background-image: url('../images/icons/calendar-color.svg');
    width: 12px;
    height: 13px;
    top: -1px;
    left: 0;
    path{
      fill: red;
    }
  }
}

.pagination-blog{
  justify-content: start;
  padding-top: 80px;
}

.contact{
  margin: 115px 0 130px;
  &__thumbtitle{
    text-align: center;
    color: $accent;
    @extend %poppins-700;
    line-height: 1;
    font-size: 16px;
    margin-bottom: 18px;
  }
  &__title{
    text-align: center;
    @extend %dmsans-700;
    font-size: 35px;
    line-height: 1;
    color: #436372;
    margin-bottom: 72px;
  }
  &__items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
  }
  &__item{
    width: 370px;
    height: 385px;
    padding: 70px 0 75px;
    background-color: #fbfbfb;
  }
  &__item--active{
    border: 2px solid $accent;
    background-color: #fbfbfb;
  }
  &__img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    margin-bottom: 60px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__img--active{
    background-color: $accent;
    svg{
      path{
        fill:#fff;
      }
    }
  }
  &__item-title{
    @extend %dmsans-700;
    color: #222222;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    margin-bottom: 23px;
  }
  &__info{
    text-align: center;
    color: #565872;
  }
  &__form{
    margin-right: 50px;
    width: 615px;
  }
  &__form-box{
    display: flex;
    justify-content: space-between;
  }
  &__form-input{
    width: 300px;
    height: 50px;
    border: none;
    padding: 15px 25px 15px 20px;
    background-color: #fafafa;
    outline: none;
    margin-bottom: 25px;
    &::placeholder{
      color: #565872;
    }
  }
  &__form-input--name{
    background-image: url('../images/icons/user-contact.svg');
    background-repeat: no-repeat;
    background-position: center right;
  }
  &__form-input--email{
    background-image: url('../images/icons/email-contact.svg');
    background-repeat: no-repeat;
    background-position: center right;
  }
  &__form-input--name:focus,
  &__form-input--email:focus{
    background-image: none;
    &::placeholder{
      color: transparent;
    }
  }
  &__form-textarea{
    width: 100%;
    height: 170px;
    border: none;
    padding: 0 25px 15px 20px;
    background-color: #fafafa;
    margin-bottom: 25px;
    outline: none;
    resize: none;
    &::placeholder{
      color: #565872;
      line-height: 1;
    }
  }
  &__form-textarea--message{
    background-image: url('../images/icons/message.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }
  &__form-textarea--message:focus{
    background-image: none;
    &::placeholder{
      color: transparent;
    }
  }
  &__form-btn{
    width: 200px;
    height: 50px;
    border: none;
    background-color: $accent;
    color: #fff;
    @extend %dmsans-700;
    font-size: 15px;
    cursor: pointer;
  }
  &__box{
    display: flex;
  }
}

.about-top{
  margin: 120px 0;
  &__inner{
    display: flex;
  }
  &__content{
    position: relative;
  }
  &__img{
    margin-right: 50px;
  }
  &__content-box{
    display: flex;
    padding-top: 80px;
  }
  &__content-img{
    margin-right: 25px;
    margin-bottom: 45px;
  }
  &__content-info{
    margin-top: 17px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $default;
    margin-bottom: 40px;
  }
  &__text{
    margin-bottom: 60px;
    position: relative;
    width: 555px;
  }
  &__text::after{
    content: "";
    position: absolute;
    width: 500px;
    height: 2px;
    top: 180px;
    left: 0;
    background-color: #ebeef3;
    margin-bottom: 40px;
  }
  &__items{
    margin-top: 100px;
    display: flex;
  }
  &__item{
    display: flex;
    align-items: center;
  }
  &__span-box{
    margin-left: 20px;
    margin-right: 50px;
  }
  &__span-title{
    display: block;
    @extend %dmsans-700;
    font-size: 36px;
    color: $default;
    margin-bottom: 10px;
    line-height: 1;
  }
  &__span-text{
    display: block;
    @extend %dmsans-700;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 1;
    padding-left: 5px;
  }
}

.info{
  margin-bottom: 120px;
  height: 320px;
  background-color: #fcd7b6;

  &__items{
    display: flex;
    justify-content: space-around;
    transform: translateY(50%);
  }
  &__box-img{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
  }
  &__item{
    text-align: center;
  }
  &__title{
    color: $default;
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 20px;
  }
  &__text{
    color: $default;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 1;
  }
}

.team{
  margin-bottom: 180px;
  &__inner{
    display: flex;
  }
  &__info{
    margin-right: 95px;
  }
  &__title{
    margin-bottom: 30px;
    line-height: 1;
    color: $default;
    @extend %dmsans-700;
    font-size: 36px;
  }
  &__text{
    width: 310px;
    margin-bottom: 40px;
  }
  &__link{
    font-size: 15px;
    @extend %dmsans-500;
    color: #fff;
    position: relative;
    padding: 15px 63px 15px 18px;
    background-color: $accent;
    border-radius: 4px;
  }
  &__link::after{
    content: "";
    position: absolute;
    background-image: url('../images/icons/arrow-white-small.svg');
    width: 15px;
    height: 11px;
    top: 20px;
    left: 130px;
  }
  &__content-box{
    width: 335px;
    height: 110px;
    display: flex;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0 25px;
    position: absolute;
    background-color: #fff;
    bottom: -62px;
  }
  &__info-title{
    @extend %dmsans-700;
    color: #436372;
    font-size: 22px;
    line-height: 1;
    margin-bottom: 19px;
    display: block;
  }
  &__info-text{
    line-height: 1;
    color: #565872;
  }
  &__info-link{
    border-radius: 17px;
  }
  &__info-link--one{
    padding: 16px 8px 7px 12px;
    background-color: #f6f6f6;
  }
  &__info-link--two{
    padding: 16px 8px 7px 10px;
    background-color: #f6f6f6;
    margin-left: 7px;
  }
  &__box-img{
    position: relative;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 100px;
    column-gap: 30px;
  }
}

  






@import 'media';