@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
  }
  &__list-link{
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background-color: $bg;
    border-radius: 22px;
  }
  &__search{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__cart,
  &__heart{
    position: relative;
  }
  &__heart{
    margin-right: 50px;
  }
  &__cart::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: -8px;
    right: 41px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    line-height: 16px;
    color: $default;
    text-align: center;

  }
  &__btn{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
      width: 20px;
      height: 20px;
    }
  }
}

.footer-top{
  padding: 75px 0px 38px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    width: 170px;
    margin-right: 130px;
  }
  &__item-form{
    max-width: 270px;
  }
  &__link{
    display: block;
  }
  &__logo{
    display: block;
    margin-bottom: 25px;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    font-size: 14px;
  }
  &__text{
    margin-bottom: 35px;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
  }
  &__form{
    display: flex;
  }
  &__form-input{
    max-width: 170px;
    width: 100%;
    height: 38px;
    padding: 14px 16px;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      color: #234969;
      font-size: 12px;
      @extend %dmsans-400;
    }
  }
  &__form-btn{
    border: none;
    background-color: $accent;
    color: #fff;
    width: 100px;
    height: 38px;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 35px 0 38px;
  &__link--active{
    position: relative;
  }
  &__link + .footer-bottom__link{
    padding-left: 30px;
  }
  &__link--active::before{
      content: "";
      position: absolute;
      width: 1px;
      height: 18px;
      background-color: #7b7b7b;
      left: 13px;
      top: -1px;
  }
  &__copy{
    color: $text;
    font-size: 14px;
    line-height: 32px;
  }
}

.top-slider{
  background-color: $bg;
  padding-top: 100px;
  width: 1770px;
  margin: 0 auto;
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__content{
    padding: 120px 0 0 300px;
  }
  &__title{
    @extend %rubik-500;
    color: #243f4d;
    font-size: 72px;
    line-height: 70px;
    max-width: 500px;
    margin-bottom: 30px;
  }
  &__text{
    max-width: 370px;
    margin-bottom: 55px;
    font-size: 18px;
    color: #436372;
  }
  &__btn{
    @extend %btn;
    padding: 23px 100px 20px 25px;
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;  
    &::after{
      content: "";
      position: absolute;
      width: 22px;
      height: 9px;
      background-image: url('../images/icons/arrow.svg');
      right: 19px;
      bottom: 25px;
    }
  }
  &__img{
    padding-right: 180px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 40px;
    li{
      margin-right: 11px;
      button{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        opacity: 0.302;
        @extend %rubik-500;
        font-size: 11px;
        color: $default;
      }
      &.slick-active{
        background-color: #fff;
        border-radius: 50%;
        button{
          opacity: 1;
        }
      }
    }
  }
}
.guarantees{
  height: 170px;
  width: 1770px;
  margin: 0 auto;
  background-color: #fef7f0;
  &__items{
    display: flex; 
  }
  &__item{
    height: 170px;
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #e8e4df;
  }
  &__item-none{
    border-right: none;
  }
  &__item-img{
    padding-top: 43px;
  }
  &__item-box{
    padding-top: 30px;
    padding-left: 23px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
  }
  &__item-text{
    @extend %dmsans-400;
    color: #585858;
  }
}

.products{
  margin-bottom: 185px;
  &__title{
    text-align: center;
    padding: 75px 0 30px;
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
  }
  &__filter-btn{
    text-align: center;
  }
  &__btn{
    border: none;
    background-color: #fff;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    padding: 0;
    margin-bottom: 90px;
    & + .products__btn{
      padding-left: 30px;
    }
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}

.products-item{
  width: 270px;
  height: 365px;
  position: relative; 
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  &__img-box{
    overflow: hidden;
    &:hover{
      .products-item__link-box{
        transform: translateY(-140%);
      }
    }
  }
  &__centr{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__images{
    object-fit: cover;
  }
  &__link-box{
    transition: all .3s;
    padding-left: 55px;
    transform: translateY(500%);
  }
  &__link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    & svg{
      fill: $default;
    }
    & + .products-item__link{
      margin-left: 10px;
    }
  }
  &__link:hover{
    background-color: $accent;
    & svg{
      fill: #fff;
    }
  }
  &__wrapper-box{
    position: absolute;
    bottom: 0px;
    padding: 0 0 35px 80px;
    display: inline-block;
    text-align: center;
  }
  &__title{
    font-size: 16px;
    line-height: 40px;
    color: $default;
    @extend %dmsans-500;
  }
  &__price{
    font-size: 16px;
    line-height: 40px;
    color: $accent;
    @extend %dmsans-700;
  }
}

.categories{
  margin-bottom: 100px;
}

.categories-info{
  display: flex;
  justify-content: space-between;
  &__item{
    width: 870px;
    height: 390px;
    background-color: #feefe2;
    padding-left: 410px;
  }
  &__item-one{
    position: relative;
  }
  &__item-two{
    position: relative;
  }
  &__item-images--one{
    position: absolute;
    right: 55%;
    bottom: 100px;
  }
  &__item-images--two{
    position: absolute;
    right: 60%;
    bottom: 83px;
  }
  &__item-title{
    padding-top: 90px;
    padding-bottom: 10px;
    font-size: 26px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $default;
  }
  &__item-text{
    color: $default;
    padding-bottom: 20px;
    line-height: 32px;
  }
  &__item-btn{
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    @extend %btn;
    background-color: #feefe2;
    padding: 20px 85px 20px 15px;
    color: #436372;
    border: 1px solid #b3b7b5;
    width: 180px;
    height: 60px;
    position: relative;
    border-radius: 5px;
  }
  &__item-btn::after{
    content: "";
    position: absolute;
    width: 22px;
    height: 9px;
    background-image: url('../images/icons/arrow-color.svg');
    right: 21px;
    bottom: 25px;
  }
}

.design{
  &__title{
    text-align: center;
    padding-bottom: 30px;
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
  }
  &__filter-btn{
    text-align: center;
  }
  &__btn{
    border: none;
    background-color: #fff;
    color: #8b8b8b;
    font-size: 16px;
    @extend %dmsans-700;
    padding: 0;
    margin-bottom: 90px;
    & + .design__btn{
      padding-left: 30px;
    }
  }
  .mixitup-control-active{
    color: #191919;
  }
  &__items{
    display: grid;
    height: 525px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
    column-gap: 30px;
  }
  &__item{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__item-title{
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
    width: 210px;
    padding: 30px 0 5px 25px;
  }
  &__item-text{
    @extend %dmsans-700;
    color: $accent;
    font-size: 16px;
    padding-left: 25px;
  }
}

.video{
  &__inner{
    margin: 115px 0;
    height: 500px;
    width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play{
    height: 100px;
    width: 100px; 
    background-color: $accent;
    border-radius: 50%;
    position: relative;
  }
  &__play-btn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

.blog{
  position: relative;
  &__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
  }
  &__box-title{
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
  }
  &__box-link{
    font-size: 16px;
    @extend %dmsans-700;
    color: #262626;
    padding-top: 7px;
  }
  &__items{
    display: inline-block;
    position: relative;
    margin-bottom: 85px;
    background-color: #fff;
    z-index: 1;
  }
  &__items + .blog__items{
    margin-left: 26px;
  }
  &__item-box{
    padding: 30px 0px 15px 0px;
    margin-left: 30px;
    max-width: 315px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
  }
  &__item-title{
    font-size: 18px;
    @extend %dmsans-500;
    color: #262626; 
    
  }
  &__item-news{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: $accent;
    border-radius: 15px;
    top: -16px;
    left: -5px;
    padding-left: 29px;
    color: #fff;
    @extend %poppins-700;
    font-size: 14px;
  }
  &__item-info{
    display: flex;
    padding: 15px 0 20px 30px; 
    font-size: 13px;
    line-height: 30px;
    color: #222933;
    @extend %rubik-400
  }
  &__item-date{
    margin-right: 30px;
    position: relative;
  }  
  &__item-author{
    font-size: 13px;
    line-height: 30px;
    color: #222933;
    @extend %rubik-400;
    position: relative;
  } 
  &::before{
    z-index: 0;
    content: "";
    position: absolute;
    width: 1920px;
    height: 435px;
    background-color: #fef7f0;
    top: 332px;
  }
}

.partners{
  position: relative;
  margin-bottom: 85px;
  &__images{
    display: flex;
    justify-content: space-around;
    img{
      object-fit: contain;
    }
  }
  
}











@import 'media';